/* Global CSS variables + overwrite Bootstrap variables */

:root {

 --primary-color: #4CBE85;
 --secondary-color: #000;
 --success-color: #28a745;
 --warning-color: red;

 --foreground-color: #1E2129;
 --background-color: #111214;

 --text-100: #F3F3F3;
 --text-70: #B8B8B8;
 --text-50: #888889;
 --border-10: #292A2C;
}


